In [2]:
a = "Life is ~~~"

In [3]:
a1 = a[0:4]

In [4]:
a2 = a[0:5]

In [6]:
if a1 == a2:
    print("같다")
else:
    print("다르다")

다르다

In [11]:
print(a1, len(a1))
print(a2, len(a2))

Life 4
Life  5

In [12]:
a= "  hi  "

In [14]:
a.strip()

'hi'

In [16]:
a = "LIfe is too short, You need Python"
a[19:]

'You need Python'

In [46]:
words1 = "자두, 딸기, 바나나, 수박"

In [47]:
bananaFromWords1 = words1[4:7]
print(bananaFromWords1)
bananaFromWords2 = words1[9:1]
print(bananaFromWords2)

딸기,

In [61]:
wordToFind = "바나나"
indexOfBanana = words1.find(wordToFind)
bananaFromWords1 = words1[indexOfBanana:indexOfBanana+len(wordToFind)]
print(bananaFromWords1)

바나나

In [35]:
wmFromWords1 = words1[10:]
print(wmFromWords1)

박

In [64]:
a = "pithon"

In [66]:
a[:1]

'p'

#

In [68]:
a[2:]

'thon'

In [70]:
a[:1] + 'y' + a[2:]

'python'

In [77]:
a = a2
print (a2)

Life

In [79]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [81]:
"I eat %s apples."% "five"

'I eat five apples.'

In [83]:
number = 3
" I eat %d apples." % number

' I eat 3 apples.'

number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

In [101]:
name1 = "서호준"; major1 = "IT"; howManyPhone1 = 12000000000
name2 = "김한남"; major2 = "BT"; howManyPhone2 = 3000000000

print("Index\t"+"Name"+"\t"+"Major1"+"\t"+"HowManyPhone")
print("1\t"+name1+"\t"+major1+"\t"+""+str(howManyPhone1))
print("2\t"+name2+"\t"+major2+"\t"+""+str(howManyPhone2))

Index	Name	Major1	HowManyPhone
1	서호준	IT	12000000000
2	김한남	BT	3000000000

In [104]:
print("%s" "120")
print("%s" % "120")
print("%10s" % "120")
print("%10s" % "120000")

%s120
120
       120
    120000

In [107]:
print("%-10sjame" % "hi")

hi        jame

In [109]:
print("%0.4f" % 3.42114234)

3.4211

In [112]:
print("%10.4f" % 3.42134234)

    3.4213

In [115]:
"~~~~~~[name]~~~~~~~~~~~~~~~~[howMany]~~~~~~~~~~~[howMany]~~~~~~~".format(name = "호준", howMany = 2)
"{0}".format("120")

'120'

In [118]:
"{0:<10}".format("120")

'120       '

In [119]:
"{0:>10}".format("120")

'       120'

In [121]:
"{0:^10}".format("120")

'   120    '

In [124]:
"{0:_>10}".format("120")

'_______120'

In [125]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다. 왜나면 작은 바나나는\ 같은 무게를 사도 껍질로 다 버려져요".count("바나나")

3

In [127]:
",".join(["abc", "drf", "ghi"])

'abc,drf,ghi'

In [132]:
#숫자만으로 저장된 전화 번호를 DB에서 얻었다 010 1234 5678 이 번호를 -로 연결하자.
num="010","1234","5678"
"-".join(num)

'010-1234-5678'

In [135]:
a = "I love apple. because apple is so sweet."
b = a.replace("apple", "peach")
print(b)

I love peach. because peach is so sweet.

In [139]:
# '010-1234-5678'  -->  '01012345678'
a = '010-1234-5678'
b = a.replace('-','')
print(b)

01012345678

In [144]:
# 문자열 나누기
a = "Life is too short"
a.split()
print(a)
b = "a:b:c:d"
b.split(":")
print(b)

Life is too short
a:b:c:d

In [145]:
# .split된 문자열에서 인덱스넘버로 스플릿된 배열 호출하기
# '010-1234-5678' --> ['010','1234','5678']
a = '010-1234-5678'
b = a.split("-")
print("식별번호:",b[0], ", 국번",b[1], ", 개인번호",b[2])

식별번호: 010 , 국번 1234 , 개인번호 5678

In [151]:
a = []
print(a)
e = [1, 2, [3, 4]]
print(e)
print(len(e))
print(e[0])
print(e[2])
print(e[2][1])

[]
[1, 2, [3, 4]]
3
1
[3, 4]
4

In [157]:
str1 = "abc"
print(str1[1])
#str1[2] = "d"
a = [1, 2, 3]
a[2] = 4
print(a)

b
[1, 2, 4]

In [160]:
a = [1,4,3,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [162]:
# Sort
a = [1,4,3,2]
a2 = a[:]
a2.sort()
print(a2)

[1, 2, 3, 4]

In [165]:
# Sort : Reverse
a = [ 1, 4, 3, 2]
a2 = sorted(a, reverse = True)
print(a2)
print(a)

[4, 3, 2, 1]
[1, 4, 3, 2]

In [169]:
a1 = [1, 2]; a2 = [3, 4]
new1 = a1+a2 ; print(new1)
a1.extend(a2) ; print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [173]:
my_dic1 = ()

In [177]:
my_dic1["banana"]="노랗고 달콤한 과일"
my_dic1

TypeError: 'tuple' object does not support item assignment

In [178]:
s1 = set([1, 2, 3])

In [179]:
s1

{1, 2, 3}

In [182]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [184]:
l1[0]

1

In [186]:
t1 = tuple(s1)

In [192]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [194]:
s1.intersection(s2)

{4, 5, 6}

In [196]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

s1.union(s2)

In [199]:
s1-s2

{1, 2, 3}

In [201]:
s1.difference(s2)

{1, 2, 3}

In [204]:
s2.difference(s1)

{7, 8, 9}

In [206]:
s1 = set([1, 2, 3])

In [208]:
s1.add(4)
s1

{1, 2, 3, 4}

In [212]:
# Ture  False 는 대소문자 구분 반드시!
a = True
b = False

In [215]:
a = [ 1, 4, 3, 2]
a2 = a[:]
a2.sort()
print(a2)

[1, 2, 3, 4]

In [216]:
b = [ 1, 4, 3, 2]
b2 = copy(b)

NameError: name 'copy' is not defined

 a = [ 1, 4, 3, 2]
a2 = a[:]
a2.sort()
print(a2)

In [218]:
if 3<1:
    print("참")
if 4<10:
    print("참")

참

In [219]:
if 3<1:
    print("참")
else:
    print("거짓")

거짓

In [223]:
if True or False:
    print("참")

참

In [232]:
if True | False:
    print("참")

참

In [234]:
1 in [1, 2, 3]

True

In [236]:
1 not in [1, 2, 3]

False

In [238]:
'a' in ('a', 'b', 'c')

True

In [241]:
'j' not in 'python'

True

In [244]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
        print("걸어 가라")

택시를 타고 가라

In [247]:
# 조건문 중지
pocket = ['paper', 'money', 'cellphone']
if 'ㅁmoney' in pocket:
    pass
else:
    print("카드를 꺼내라")

카드를 꺼내라