In [ ]:
# 6.1 텍스트 파일에서 데이터를 읽고 쓰는 법 p.237
import pandas as pd
df1 = pd.read_csv('examples/ex1.csv')
df1

In [ ]:
# read_table()에 구분자(separator)를 지정하여 읽어올 수도 있다.
pd.read_table('examples/ex1.csv', sep=',')

In [ ]:
#### 헤더 컬럼이 없는 경우
pd.read_csv('examples/ex2.csv')

In [ ]:
pd.read_csv('examples/ex2.csv', header=None) # 강제로 만들어줄 수 있다

In [ ]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd']) # names로 지정도 가능

In [ ]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d', 'message']) # 메세지를 헤더로 지정가능

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message') # meassage이름을 가진 컬럼을 지정해서 색인으로 만들 수 있다.

In [ ]:
df3 = pd.read_csv('examples/ex5.csv')
df3

In [ ]:
df5 = pd.read_csv('examples/ex5.csv')
df5.to_csv('examples/my_out_of_ex5.csv',
            na_rep="ToBeReplaced", index=False,
            columns=['a','b','c'])

In [ ]:
# 6.1.1 텍스트 파일 조금씩 읽어오기 p.245
# pd.options.display.max_rows = 10  # 옵션 자체를 손보는 방법

## chunksize()  ## 여러보각으로 나누어서 읽는 옵션
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker
tot[:10]

In [ ]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

In [ ]:
# Chapter 7 데이터 정제 및 준비 p.269
# 웹 크롤링
#%pip install lxml
#%pip install beautifulsoup4 html5lib
from bs4 import BeautifulSoup
import requests

In [19]:
#url= "https://en.wikipedia.org/w/index.php?title=list"
url = "https://en.wikipedia.org/wiki/List_of_Game_of_Thrones_episodes"
r = requests.get(url)
r.text
html_soup = BeautifulSoup(r.text, "html.parser")
found_h1 = html_soup.find("h1")
found_h1

In [9]:
found_h1.contents

['List of ', <i>Game of Thrones</i>, ' episodes']

In [10]:
found_h1.text

'List of Game of Thrones episodes'

In [11]:
found_h1.attrs

{'id': 'firstHeading', 'class': ['firstHeading']}

In [12]:
found_h1.attrs["id"]

'firstHeading'

In [13]:
found_h1.attrs["class"]

['firstHeading']

In [14]:
for found in html_soup.find_all("h2"):
    print(found.text)

Contents
Series overview[edit]
Episodes[edit]
Specials[edit]
Home media release[edit]
Ratings[edit]
References[edit]
External links[edit]
Navigation menu

In [20]:
episodes=[]
ep_tables = html_soup.find_all("table",
                              class_="wikitable plainrowheaders wikiepisodetable")

In [26]:
for table in ep_tables:
    headers = []
    rows = table.find_all("tr")
    for header in table.find("tr").find_all("th"):
        headers.append(header.text)

    for row in table.find_all("tr")[1:]:
        values = []
        for col in row.find_all(["th", "td"]):
            values.append(col.text)
        if values:
            episode_dict = {headers[i]:values[i] for i in range(len(values))}
            episodes.append(episode_dict)

for episode in episodes:
    print(episode)

{'No.overall': '1', 'No. inseason': '1', 'Title': '"Winter Is Coming"', 'Directed by': 'Tim Van Patten', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa017,\xa02011\xa0(2011-04-17)', 'U.S. viewers(millions)': '2.22[21]'}
{'No.overall': '2', 'No. inseason': '2', 'Title': '"The Kingsroad"', 'Directed by': 'Tim Van Patten', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa024,\xa02011\xa0(2011-04-24)', 'U.S. viewers(millions)': '2.20[22]'}
{'No.overall': '3', 'No. inseason': '3', 'Title': '"Lord Snow"', 'Directed by': 'Brian Kirk', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa01,\xa02011\xa0(2011-05-01)', 'U.S. viewers(millions)': '2.44[23]'}
{'No.overall': '4', 'No. inseason': '4', 'Title': '"Cripples, Bastards, and Broken Things"', 'Directed by': 'Brian Kirk', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa08,\xa02011\xa0(2011-05-08)', 'U.S. viewers(millions)': '2.45[24]'}
{'No.overall': '5', 'No. inseason': '5', 'Title': '"The Wolf and the Lion"', 'Directed by': 'Brian Kirk', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa015,\xa02011\xa0(2011-05-15)', 'U.S. viewers(millions)': '2.58[25]'}
{'No.overall': '6', 'No. inseason': '6', 'Title': '"A Golden Crown"', 'Directed by': 'Daniel Minahan', 'Written by': 'Story by\u200a: David Benioff & D. B. WeissTeleplay by\u200a: Jane Espenson and David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa022,\xa02011\xa0(2011-05-22)', 'U.S. viewers(millions)': '2.44[26]'}
{'No.overall': '7', 'No. inseason': '7', 'Title': '"You Win or You Die"', 'Directed by': 'Daniel Minahan', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa029,\xa02011\xa0(2011-05-29)', 'U.S. viewers(millions)': '2.40[27]'}
{'No.overall': '8', 'No. inseason': '8', 'Title': '"The Pointy End"', 'Directed by': 'Daniel Minahan', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'June\xa05,\xa02011\xa0(2011-06-05)', 'U.S. viewers(millions)': '2.72[28]'}
{'No.overall': '9', 'No. inseason': '9', 'Title': '"Baelor"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa012,\xa02011\xa0(2011-06-12)', 'U.S. viewers(millions)': '2.66[29]'}
{'No.overall': '10', 'No. inseason': '10', 'Title': '"Fire and Blood"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa019,\xa02011\xa0(2011-06-19)', 'U.S. viewers(millions)': '3.04[30]'}
{'No.overall': '11', 'No. inseason': '1', 'Title': '"The North Remembers"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa01,\xa02012\xa0(2012-04-01)', 'U.S. viewers(millions)': '3.86[31]'}
{'No.overall': '12', 'No. inseason': '2', 'Title': '"The Night Lands"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa08,\xa02012\xa0(2012-04-08)', 'U.S. viewers(millions)': '3.76[32]'}
{'No.overall': '13', 'No. inseason': '3', 'Title': '"What Is Dead May Never Die"', 'Directed by': 'Alik Sakharov', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa015,\xa02012\xa0(2012-04-15)', 'U.S. viewers(millions)': '3.77[33]'}
{'No.overall': '14', 'No. inseason': '4', 'Title': '"Garden of Bones"', 'Directed by': 'David Petrarca', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'April\xa022,\xa02012\xa0(2012-04-22)', 'U.S. viewers(millions)': '3.65[34]'}
{'No.overall': '15', 'No. inseason': '5', 'Title': '"The Ghost of Harrenhal"', 'Directed by': 'David Petrarca', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa029,\xa02012\xa0(2012-04-29)', 'U.S. viewers(millions)': '3.90[35]'}
{'No.overall': '16', 'No. inseason': '6', 'Title': '"The Old Gods and the New"', 'Directed by': 'David Nutter', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'May\xa06,\xa02012\xa0(2012-05-06)', 'U.S. viewers(millions)': '3.88[36]'}
{'No.overall': '17', 'No. inseason': '7', 'Title': '"A Man Without Honor"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa013,\xa02012\xa0(2012-05-13)', 'U.S. viewers(millions)': '3.69[37]'}
{'No.overall': '18', 'No. inseason': '8', 'Title': '"The Prince of Winterfell"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa020,\xa02012\xa0(2012-05-20)', 'U.S. viewers(millions)': '3.86[38]'}
{'No.overall': '19', 'No. inseason': '9', 'Title': '"Blackwater"', 'Directed by': 'Neil Marshall', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'May\xa027,\xa02012\xa0(2012-05-27)', 'U.S. viewers(millions)': '3.38[39]'}
{'No.overall': '20', 'No. inseason': '10', 'Title': '"Valar Morghulis"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa03,\xa02012\xa0(2012-06-03)', 'U.S. viewers(millions)': '4.20[40]'}
{'No.overall': '21', 'No. inseason': '1', 'Title': '"Valar Dohaeris"', 'Directed by': 'Daniel Minahan', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'March\xa031,\xa02013\xa0(2013-03-31)', 'U.S. viewers(millions)': '4.37[41]'}
{'No.overall': '22', 'No. inseason': '2', 'Title': '"Dark Wings, Dark Words"', 'Directed by': 'Daniel Minahan', 'Written by': 'Vanessa Taylor', 'Original air date\u200a[20]': 'April\xa07,\xa02013\xa0(2013-04-07)', 'U.S. viewers(millions)': '4.27[42]'}
{'No.overall': '23', 'No. inseason': '3', 'Title': '"Walk of Punishment"', 'Directed by': 'David Benioff', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa014,\xa02013\xa0(2013-04-14)', 'U.S. viewers(millions)': '4.72[43]'}
{'No.overall': '24', 'No. inseason': '4', 'Title': '"And Now His Watch Is Ended"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa021,\xa02013\xa0(2013-04-21)', 'U.S. viewers(millions)': '4.87[44]'}
{'No.overall': '25', 'No. inseason': '5', 'Title': '"Kissed by Fire"', 'Directed by': 'Alex Graves', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa028,\xa02013\xa0(2013-04-28)', 'U.S. viewers(millions)': '5.35[45]'}
{'No.overall': '26', 'No. inseason': '6', 'Title': '"The Climb"', 'Directed by': 'Alik Sakharov', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa05,\xa02013\xa0(2013-05-05)', 'U.S. viewers(millions)': '5.50[46]'}
{'No.overall': '27', 'No. inseason': '7', 'Title': '"The Bear and the Maiden Fair"', 'Directed by': 'Michelle MacLaren', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'May\xa012,\xa02013\xa0(2013-05-12)', 'U.S. viewers(millions)': '4.84[47]'}
{'No.overall': '28', 'No. inseason': '8', 'Title': '"Second Sons"', 'Directed by': 'Michelle MacLaren', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa019,\xa02013\xa0(2013-05-19)', 'U.S. viewers(millions)': '5.13[48]'}
{'No.overall': '29', 'No. inseason': '9', 'Title': '"The Rains of Castamere"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa02,\xa02013\xa0(2013-06-02)', 'U.S. viewers(millions)': '5.22[49]'}
{'No.overall': '30', 'No. inseason': '10', 'Title': '"Mhysa"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa09,\xa02013\xa0(2013-06-09)', 'U.S. viewers(millions)': '5.39[50]'}
{'No.overall': '31', 'No. inseason': '1', 'Title': '"Two Swords"', 'Directed by': 'D. B. Weiss', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa06,\xa02014\xa0(2014-04-06)', 'U.S. viewers(millions)': '6.64[51]'}
{'No.overall': '32', 'No. inseason': '2', 'Title': '"The Lion and the Rose"', 'Directed by': 'Alex Graves', 'Written by': 'George R. R. Martin', 'Original air date\u200a[20]': 'April\xa013,\xa02014\xa0(2014-04-13)', 'U.S. viewers(millions)': '6.31[52]'}
{'No.overall': '33', 'No. inseason': '3', 'Title': '"Breaker of Chains"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa020,\xa02014\xa0(2014-04-20)', 'U.S. viewers(millions)': '6.59[53]'}
{'No.overall': '34', 'No. inseason': '4', 'Title': '"Oathkeeper"', 'Directed by': 'Michelle MacLaren', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa027,\xa02014\xa0(2014-04-27)', 'U.S. viewers(millions)': '6.95[54]'}
{'No.overall': '35', 'No. inseason': '5', 'Title': '"First of His Name"', 'Directed by': 'Michelle MacLaren', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa04,\xa02014\xa0(2014-05-04)', 'U.S. viewers(millions)': '7.16[55]'}
{'No.overall': '36', 'No. inseason': '6', 'Title': '"The Laws of Gods and Men"', 'Directed by': 'Alik Sakharov', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa011,\xa02014\xa0(2014-05-11)', 'U.S. viewers(millions)': '6.40[56]'}
{'No.overall': '37', 'No. inseason': '7', 'Title': '"Mockingbird"', 'Directed by': 'Alik Sakharov', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa018,\xa02014\xa0(2014-05-18)', 'U.S. viewers(millions)': '7.20[57]'}
{'No.overall': '38', 'No. inseason': '8', 'Title': '"The Mountain and the Viper"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa01,\xa02014\xa0(2014-06-01)', 'U.S. viewers(millions)': '7.17[58]'}
{'No.overall': '39', 'No. inseason': '9', 'Title': '"The Watchers on the Wall"', 'Directed by': 'Neil Marshall', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa08,\xa02014\xa0(2014-06-08)', 'U.S. viewers(millions)': '6.95[59]'}
{'No.overall': '40', 'No. inseason': '10', 'Title': '"The Children"', 'Directed by': 'Alex Graves', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa015,\xa02014\xa0(2014-06-15)', 'U.S. viewers(millions)': '7.09[60]'}
{'No.overall': '41', 'No. inseason': '1', 'Title': '"The Wars to Come"', 'Directed by': 'Michael Slovis', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa012,\xa02015\xa0(2015-04-12)', 'U.S. viewers(millions)': '8.00[61]'}
{'No.overall': '42', 'No. inseason': '2', 'Title': '"The House of Black and White"', 'Directed by': 'Michael Slovis', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa019,\xa02015\xa0(2015-04-19)', 'U.S. viewers(millions)': '6.81[62]'}
{'No.overall': '43', 'No. inseason': '3', 'Title': '"High Sparrow"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa026,\xa02015\xa0(2015-04-26)', 'U.S. viewers(millions)': '6.71[63]'}
{'No.overall': '44', 'No. inseason': '4', 'Title': '"Sons of the Harpy"', 'Directed by': 'Mark Mylod', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'May\xa03,\xa02015\xa0(2015-05-03)', 'U.S. viewers(millions)': '6.82[64]'}
{'No.overall': '45', 'No. inseason': '5', 'Title': '"Kill the Boy"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa010,\xa02015\xa0(2015-05-10)', 'U.S. viewers(millions)': '6.56[65]'}
{'No.overall': '46', 'No. inseason': '6', 'Title': '"Unbowed, Unbent, Unbroken"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa017,\xa02015\xa0(2015-05-17)', 'U.S. viewers(millions)': '6.24[66]'}
{'No.overall': '47', 'No. inseason': '7', 'Title': '"The Gift"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa024,\xa02015\xa0(2015-05-24)', 'U.S. viewers(millions)': '5.40[67]'}
{'No.overall': '48', 'No. inseason': '8', 'Title': '"Hardhome"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa031,\xa02015\xa0(2015-05-31)', 'U.S. viewers(millions)': '7.01[68]'}
{'No.overall': '49', 'No. inseason': '9', 'Title': '"The Dance of Dragons"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa07,\xa02015\xa0(2015-06-07)', 'U.S. viewers(millions)': '7.14[69]'}
{'No.overall': '50', 'No. inseason': '10', 'Title': '"Mother\'s Mercy"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa014,\xa02015\xa0(2015-06-14)', 'U.S. viewers(millions)': '8.11[70]'}
{'No.overall': '51', 'No. inseason': '1', 'Title': '"The Red Woman"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa024,\xa02016\xa0(2016-04-24)', 'U.S. viewers(millions)': '7.94[71]'}
{'No.overall': '52', 'No. inseason': '2', 'Title': '"Home"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'May\xa01,\xa02016\xa0(2016-05-01)', 'U.S. viewers(millions)': '7.29[72]'}
{'No.overall': '53', 'No. inseason': '3', 'Title': '"Oathbreaker"', 'Directed by': 'Daniel Sackheim', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa08,\xa02016\xa0(2016-05-08)', 'U.S. viewers(millions)': '7.28[73]'}
{'No.overall': '54', 'No. inseason': '4', 'Title': '"Book of the Stranger"', 'Directed by': 'Daniel Sackheim', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa015,\xa02016\xa0(2016-05-15)', 'U.S. viewers(millions)': '7.82[74]'}
{'No.overall': '55', 'No. inseason': '5', 'Title': '"The Door"', 'Directed by': 'Jack Bender', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa022,\xa02016\xa0(2016-05-22)', 'U.S. viewers(millions)': '7.89[75]'}
{'No.overall': '56', 'No. inseason': '6', 'Title': '"Blood of My Blood"', 'Directed by': 'Jack Bender', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'May\xa029,\xa02016\xa0(2016-05-29)', 'U.S. viewers(millions)': '6.71[76]'}
{'No.overall': '57', 'No. inseason': '7', 'Title': '"The Broken Man"', 'Directed by': 'Mark Mylod', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'June\xa05,\xa02016\xa0(2016-06-05)', 'U.S. viewers(millions)': '7.80[77]'}
{'No.overall': '58', 'No. inseason': '8', 'Title': '"No One"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa012,\xa02016\xa0(2016-06-12)', 'U.S. viewers(millions)': '7.60[78]'}
{'No.overall': '59', 'No. inseason': '9', 'Title': '"Battle of the Bastards"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa019,\xa02016\xa0(2016-06-19)', 'U.S. viewers(millions)': '7.66[79]'}
{'No.overall': '60', 'No. inseason': '10', 'Title': '"The Winds of Winter"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'June\xa026,\xa02016\xa0(2016-06-26)', 'U.S. viewers(millions)': '8.89[80]'}
{'No.overall': '61', 'No. inseason': '1', 'Title': '"Dragonstone"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'July\xa016,\xa02017\xa0(2017-07-16)', 'U.S. viewers(millions)': '10.11[81]'}
{'No.overall': '62', 'No. inseason': '2', 'Title': '"Stormborn"', 'Directed by': 'Mark Mylod', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'July\xa023,\xa02017\xa0(2017-07-23)', 'U.S. viewers(millions)': '9.27[82]'}
{'No.overall': '63', 'No. inseason': '3', 'Title': '"The Queen\'s Justice"', 'Directed by': 'Mark Mylod', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'July\xa030,\xa02017\xa0(2017-07-30)', 'U.S. viewers(millions)': '9.25[83]'}
{'No.overall': '64', 'No. inseason': '4', 'Title': '"The Spoils of War"', 'Directed by': 'Matt Shakman', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa06,\xa02017\xa0(2017-08-06)', 'U.S. viewers(millions)': '10.17[84]'}
{'No.overall': '65', 'No. inseason': '5', 'Title': '"Eastwatch"', 'Directed by': 'Matt Shakman', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'August\xa013,\xa02017\xa0(2017-08-13)', 'U.S. viewers(millions)': '10.72[85]'}
{'No.overall': '66', 'No. inseason': '6', 'Title': '"Beyond the Wall"', 'Directed by': 'Alan Taylor', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa020,\xa02017\xa0(2017-08-20)', 'U.S. viewers(millions)': '10.24[86]'}
{'No.overall': '67', 'No. inseason': '7', 'Title': '"The Dragon and the Wolf"', 'Directed by': 'Jeremy Podeswa', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'August\xa027,\xa02017\xa0(2017-08-27)', 'U.S. viewers(millions)': '12.07[87]'}
{'No.overall': '68', 'No. inseason': '1', 'Title': '"Winterfell"', 'Directed by': 'David Nutter', 'Written by': 'Dave Hill', 'Original air date\u200a[20]': 'April\xa014,\xa02019\xa0(2019-04-14)', 'U.S. viewers(millions)': '11.76[88]'}
{'No.overall': '69', 'No. inseason': '2', 'Title': '"A Knight of the Seven Kingdoms"', 'Directed by': 'David Nutter', 'Written by': 'Bryan Cogman', 'Original air date\u200a[20]': 'April\xa021,\xa02019\xa0(2019-04-21)', 'U.S. viewers(millions)': '10.29[89]'}
{'No.overall': '70', 'No. inseason': '3', 'Title': '"The Long Night"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'April\xa028,\xa02019\xa0(2019-04-28)', 'U.S. viewers(millions)': '12.02[90]'}
{'No.overall': '71', 'No. inseason': '4', 'Title': '"The Last of the Starks"', 'Directed by': 'David Nutter', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa05,\xa02019\xa0(2019-05-05)', 'U.S. viewers(millions)': '11.80[91]'}
{'No.overall': '72', 'No. inseason': '5', 'Title': '"The Bells"', 'Directed by': 'Miguel Sapochnik', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa012,\xa02019\xa0(2019-05-12)', 'U.S. viewers(millions)': '12.48[92]'}
{'No.overall': '73', 'No. inseason': '6', 'Title': '"The Iron Throne"', 'Directed by': 'David Benioff & D. B. Weiss', 'Written by': 'David Benioff & D. B. Weiss', 'Original air date\u200a[20]': 'May\xa019,\xa02019\xa0(2019-05-19)', 'U.S. viewers(millions)': '13.61[93]'}
{'No.': '1', 'Title': 'Game of Thrones: A Day in the Life', 'Original air date': 'February\xa08,\xa02015\xa0(2015-02-08)', 'U.S. viewers(millions)': 'N/A'}
{'No.': '\nA half-hour documentary that covered one day of production of season 5 on three sets in Belfast, Dubrovnik and Osuna from the viewpoint of key crew members.[94]'}
{'No.': '2', 'Title': 'Game of Thrones: The Last Watch', 'Original air date': 'May\xa026,\xa02019\xa0(2019-05-26)', 'U.S. viewers(millions)': '1.63[96]'}
{'No.': '\nA two-hour documentary which documents the making of season eight.[95]'}

In [30]:
df = pd.DataFrame(episodes)
df.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date [20],U.S. viewers(millions),No.,Original air date
0,1,1,"""Winter Is Coming""",Tim Van Patten,David Benioff & D. B. Weiss,"April 17, 2011 (2011-04-17)",2.22[21],NaN,NaN
1,2,2,"""The Kingsroad""",Tim Van Patten,David Benioff & D. B. Weiss,"April 24, 2011 (2011-04-24)",2.20[22],NaN,NaN
2,3,3,"""Lord Snow""",Brian Kirk,David Benioff & D. B. Weiss,"May 1, 2011 (2011-05-01)",2.44[23],NaN,NaN
3,4,4,"""Cripples, Bastards, and Broken Things""",Brian Kirk,Bryan Cogman,"May 8, 2011 (2011-05-08)",2.45[24],NaN,NaN
4,5,5,"""The Wolf and the Lion""",Brian Kirk,David Benioff & D. B. Weiss,"May 15, 2011 (2011-05-15)",2.58[25],NaN,NaN

In [31]:
# 엑셀 파일 읽기

In [33]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")

In [35]:
pd.read_excel(xlsx,"Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [37]:
frame = pd.read_excel("examples/ex1.xlsx","Sheet1")
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [38]:
writer = pd.ExcelWriter("examples/ex2.xlsx")

In [39]:
frame.to_excel(writer,"Sheet1")

In [40]:
writer.save()

In [ ]:

# SQL 데이터 베이스와 함꼐 사용하기

In [64]:
import sqlite3

In [65]:
query = "CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"
con = sqlite3.connect("mydata.sqlite")
con.execute(query)

OperationalError: table test already exists

In [66]:
con.commit()

In [67]:
data = [("atlanta","georgia",1.25,6), 
       ("tallahassee", "florida", 2.6, 3),
       ("sacrament","california",1.7,5)]
stmt = "INSERT INTO test Values(?,?,?,?)"
con.executemany(stmt,data)

In [68]:
con.commit()

In [70]:
stmt = "INSERT INTO test Values(?,?,?,?)"
con.executemany(stmt,data)

In [63]:
con.commit()

In [71]:
cursor = con.execute("select * from test")

In [72]:
rows = cursor.fetchall()

In [73]:
rows

[('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacrament', 'california', 1.7, 5)]

In [74]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [75]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

              a           b     c  d
0       atlanta     georgia  1.25  6
1   tallahassee     florida  2.60  3
2     sacrament  california  1.70  5
3       atlanta     georgia  1.25  6
4   tallahassee     florida  2.60  3
5     sacrament  california  1.70  5
6       atlanta     georgia  1.25  6
7   tallahassee     florida  2.60  3
8     sacrament  california  1.70  5
9       atlanta     georgia  1.25  6
10  tallahassee     florida  2.60  3
11    sacrament  california  1.70  5
12      atlanta     georgia  1.25  6
13  tallahassee     florida  2.60  3
14    sacrament  california  1.70  5
15      atlanta     georgia  1.25  6
16  tallahassee     florida  2.60  3
17    sacrament  california  1.70  5